<div class="section-container">
    <div class="top-section section-padding">

        <div>
            <h2>Board</h2>
            <div>
                A well-designed gaming header often incorporates elements such as game characters, iconic symbols, vibrant colors, and dynamic visuals .
            </div>
        </div>
    <!-- COMPANY -->
        <div class="list-footer-items">
            <h2>Company</h2>
            <p>Item</p>
            <p>Item</p>
            <p>Item</p>
        </div>
    <!-- HELP -->
        <div class="list-footer-items">
            <h2>Help</h2>
            <p>Item</p>
            <p>Item</p>
            <p>Item</p>
        </div>
    <!-- RESOURCE -->
    <div class="list-footer-items">
        <h2>Resources</h2>
        <p>Item</p>
        <p>Item</p>
        <p>Item</p>
    </div>
    </div >
    <div class="mid-section section-padding">
        <img src="/assets/images/logos/logo (1).svg">
        <img src="/assets/images/logos/logo (2).svg">
        <img src="/assets/images/logos/logo (3).svg">
        <img src="/assets/images/logos/logo (4).svg">
        <img src="/assets/images/logos/logo (5).svg">
    </div>
    <div class="sub-section section-padding">

    </div>

</div>

