<!-- <div class="slide-show" id="imageOneByID">
    <div style="background-color: #DD00B8; width: 80px;height: 80px" class="image-1"></div>
    <button (click)="initializeSlideShowElements()">TEST button</button>
</div> -->

<div class="carousel">
    <button class="carousel__button"></button>
    <div class="carousel__track-container">
        <ul class="carousel__track">
            <li class="carousel__slide" alt=""><img class="carousel__image" src="/assets/images/carousel-images/slide (1).png"></li>
            <li class="carousel__slide" alt=""><img class="carousel__image" src="/assets/images/carousel-images/slide (2).png"></li>
            <li class="carousel__slide" alt=""><img class="carousel__image" src="/assets/images/carousel-images/slide (3).png"></li>
        </ul>
    </div>
</div>